.listadoPDIWrapper {
  display: flex;
  justify-content: center;
}

.divListadoPDI {
  display: grid;
  gap: 15px;
}

@media (max-width: 767px) {
  .divListadoPDI {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

/* Tablet / intermedio */
@media (min-width: 768px) and (max-width: 1199px) {
  .divListadoPDI {
    grid-template-columns: repeat(2, 320px);
    max-width: calc(2 * 320px + 15px);
  }
}

/* Desktop grande REAL */
@media (min-width: 1200px) {
  .divListadoPDI {
    grid-template-columns: repeat(3, 320px);
    max-width: calc(3 * 320px + 2 * 15px);
  }
}
.listado-pdi-card {
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  height: 100%;
}

.listado-pdi-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(116, 172, 223, 0.3); /* sombra azul suave */
}

.listado-pdi-img {
  height: 180px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
}

.btn-primary {
  background-color: #74acdf;
  border-color: #74acdf;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #5a91c9;
  border-color: #5a91c9;
}
