.topDivLocalidades{
  background-color: #dbd3ca;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 15px;
  padding: 12px
}

.leftTopDivLocalidades{
  allign-items: center;
}

.titleLocalidades{
  border-color: brown;
  border-style: solid;
  border-width: 2px;
  text-align: center;
}

.descriptionLocalidades{
  background-color: #aca69e;
  text-align: justify;
  padding: 10px;
  margin-top: 10px;
  height: 200px;
}

.carrusel {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.carrusel img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.6);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 0.5rem;
  z-index: 10;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}