.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
/* .signup-container {
    position: absolute;
    top: 20px;
    right: 20px;
}
.login-content .title {
    color: #a0c4ff;
    font-size: 5em;
    font-family: serif;
} */