.navbar {
  background-color: #50b9e0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.navTitle {
  color: blanchedalmond;
  background-color: transparent;
  border: none;
  font-weight: 800;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.navTitle:hover {
  color: rgb(255, 243, 224);
}

.navLetters {
  color: blanchedalmond;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

.navLetters:hover {
  color: rgb(255, 243, 224);
}

.navRight {
  display: flex;
  align-items: center;
  justify-content: right;
}

.profileImage {
  border: none;
  decoration: none;
  background-color: transparent;
  padding: 1px 0px 1px 0px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 2px;
    grid-gap: 6px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .navTitle {
    font-size: medium;
  }
  .navLetters {
    font-size: small;
  }
}
