.navbar {
  background-color: #2D9CDB;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px; 
  padding: 12px 20px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 10px;
  margin: 8px 8px 0px 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navHomePage
{
  background-color: #2D9CDB;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  grid-gap: 12px; 
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 10px;
  margin: 8px 8px 0px 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navTitle {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-weight: 800;
  font-size: x-large;
  font-family: 'poppins';
}

.navTitle:hover {
  color: #ffc107;
}

.navLetters {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  font-size: large;
  font-family: 'poppins';
  text-decoration: none;
}

.navLetters:hover {
  color: #ffc107;
}

.navRight {
  display: flex;
  align-items: center;
  justify-content: right;
}

.profileImage {
  border: none;
  /* decoration: none; */
  background-color: transparent;
  padding: 1px 0px 1px 0px;
}

.bottom-navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  justify-items: center;
  justify-content: space-around;
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 15px 0 8px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.bottom-navbar-HomePage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  justify-items: center;
  justify-content: space-around;
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 15px 0 8px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.bottom-navbar a {
  text-decoration: none;
  color: white;
}
.bottom-navbar-HomePage a {
  text-decoration: none;
  color: white;
}

.bottom-navbar div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.modal-backdrop.show {
  backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, 0.074); /* leve oscurecido */
}
.modal-body > * {
  margin-bottom: 1rem; /* separa cada hijo del body del modal */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
