.signup-container {
    /* Flex */
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-color: #f0f0f0;
}

.header-login { 
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 16px 24px;
}

.signup-content { 
    display: flex;
    flex-basis: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.signup-content .title {
    color: #a0c4ff;
    font-size: 5em;
    font-family: serif;
}

.signup-form {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 10px;
}

